.btn-group .button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right 
    
}

.btn-group .button:hover {
    background-color: #b32d00;
}
div.article{
    width: 60%;
	float: left;

}
div.container{
    width: 100%;

}
h1 {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	float: left;
	

}
h2 {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 10px;
	margin-top: 150px;
        margin-left: 100px;
	

}
p
{font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 150%;
	margin-right: 4em;
margin-left: 100px;
	text-align: justify;
        text-justify: inter-word;
	}

header {
    padding-bottom: 5em;
    padding-left:2em;
    padding-top:2em;
    color: white;
    background-color: black;
    clear: left;  
	line-height:10px;
    
}

 footer {
    color: white;
    background-color: black;
    clear: left;
    text-align:center; 
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    clear: both;
    
    
}

article {
    margin-left: 100px;
    padding: 1em;
    display:inline-block;

}

div.newsticker
{
width: 40%
float: right;
margin-right: 10px;
top: 0; 
margin-top: 80px;
position: sticky;
}

img
{
	margin-left: 100px;
}

#ticker {
  width:400px; height:800px; overflow:auto; border:1px solid #aaaaaa;
  float: right;
}
#ticker dt {
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400; padding:0 10px 5px 10px;
  color:#ffffff;
  background-color:#000000; padding-top:10px; border:1px solid #ffffff;
  border-bottom:none; border-right:none;
}
#ticker dd {
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400; padding:20px 20px 20px 20px;
  color:#000000;
  border-bottom:1px solid #aaaaaa; background-color:#ffffff ;
  border-left:1px solid #ffffff;
}
#ticker dd:hover{
  margin-left:0; font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #ffffff;	
	padding:20px 20px 20px 20px;
  border-bottom:1px solid #ffffff; background-color:#b32d00 ;
  border-left:1px solid #ffffff;
}
#ticker dd.last { border-bottom:1px solid #ffffff;
}
