html {
    display: block;
}	

* {
	margin: 0; padding: 0;
}
body {
	font: 12px Verdana;
	color: #68645a;
	background: url(images/background.gif) repeat-x 0 0;	
	margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;

}
a {
	text-decoration: none;
	color: #990000;
}
a:hover {
	text-decoration: underline;
	color: #ff0000;
}
img {
	border: 0;
}

.break {
	font-size: 0;
	width: 0; height: 0;
	clear: both;
}
.alignleft {
	float: left;
	margin: 4px 10px 5px 0;
}
.alignright {
	float: right;
	margin: 4px 0 5px 10px;
}
.aligncenter {
	text-align: center;
}
.hidden {
	display: none;
}

/** BEGIN wrapper **/
#wrapper {
	width: 970px;
	margin: auto auto;
	text-align: left;
}
/** END wrapper **/

/** BEGIN header **/

div.container{
    width: 100%;

}
.btn-group .button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right 
    
}

.btn-group .button:hover {
    background-color: #b32d00;
}

h1 {
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	padding: 15px;
	padding-bottom:2em;
	display:inline-block;
	float:left;	
}
header {
    padding-bottom: 5em;
    padding-left:2em;
    padding-top:2em; 
    color: white;
    background-color: black;
    clear: left;  
    height:20px;
    
}
/** END header **/

/** BEGIN body **/
#body {
}
	#body h2 {
		font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		float:left;
		font-size: 1.4em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
/** END body **/

/** BEGIN content **/
#content {
	width: 90%;
	padding: 10px 18px 10px 0;
	margin-left:120px;
	margin-top:70px;
}
	#content .featured {
		margin-bottom: 20px;
	}
		#content .featured .thumb {
			width: 800px; height: 550px;
			position: relative;
			overflow: hidden;
		}
		#content .featured .thumb img {
			width: 800px;
		}
		#content .featured .thumb .text {
			position: absolute;
			bottom: 0; left: 0;
			padding: 10px;
			background: url(shade.png) repeat 0 0;
			color: #ffffff;
			width: 800px;
		}
		#content .featured .thumb .text a {
			color: #ffffff;
		}
		#content .featured .thumb .text h3 {
			font-size: 1.6em;
			font-weight: normal;
			margin-bottom: 5px;
		}
		#content .featured .thumb .text p {
			font-size: 2.4em;
			font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;

		}
	hr {clear: both;}
	#content .post {
		clear: both;
		border-top: 1px dotted #DDDDDD;
		padding: 10px 0;
	}
	#content .f {
		border-top: 0;
	}
		#content .post img {
			float: left;
			margin: 0 10px 10px 0;
			padding: 5px;
			width: 200px;
		}
		#content .post h3 {
			font-size: 1.2em;
			margin-bottom: 6px;
		}
		#content .post .details {
			font-size: 0.9em;
			margin-bottom: 6px;
			color: #CCCCCC;
		}
			#content .post .details a {
				color: #68645A;
			}
			#content .post .details a:hover {
				color: #ff0000;
				text-decoration: none;
			}
		#content .post p {
			line-height: 1.4em;
			font-size: 2.5em;
			font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
			margin-top:50px;
		}
	#content .single {
		padding: 10px;
	}
		#content .single h2 {
			margin-bottom: 10px;
			font-size: 1.4em;
			text-transform: none;
		}
		#content .single p {
			line-height: 1.5em;
			margin-bottom: 10px;
		}
		#content .single ul, #content .single ol {
			list-style-position: inside;
			margin-bottom: 10px;
		}
		#content .single li {
			line-height: 1.5em;
			padding: 2px 0;
		}
		#content .single blockquote {
			padding: 10px 10px 5px;
			margin-bottom: 10px;
			background-color: #eeeeee;
			border-width: 1px 0;
			border-style: solid;
			border-color: #e0e0e0;
		}
		#content .single h3, #content .single h4, #content .single h5, #content .single h6 {
			font-size: 1.2em;
			margin-bottom: 5px;
		}
	#postnav {
		padding: 10px;
		font-weight: bold;
	}
	#myGallery {
		width: 500px !important;
		height: 350px !important;
	}
/** END content **/



/** BEGIN footer **/
#footer {
	color: #ffffff;
	background-color: #993523;
	padding: 10px 0;
}
	#footer p {
		width: 965px;
		margin: auto auto;
		text-align: left;
	}
	#footer a {
		text-decoration: underline;
		color: #ffffff;
	}
/** END footer **/


